// COLORS

$color-primary: #80cbc2;
$color-secondary: #dd344c;
$color-alt: #253743;
$color-alt2: #F8304C;


// FONTS
$font-primary: 'Roboto', Arial, sans-serif;
$font-secondary: 'Open Sans', Arial, sans-serif;
